@import url('https://fonts.googleapis.com/css?family=Lato|Quattrocento');


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Lato, sans-serif;
    background-image: url('../img/background.png');
    background-position: center;
    background-size: cover;
}

html {overflow: hidden;}
body {overflow: auto;}

div, nav {
    position: relative;
    display: block;
}

p, h1, h2, h3, h4, div {
    margin: 0;
    font-weight: 100;
    color: #ecf0f1;
}

a, a:visited {
    color: white;
    text-decoration: none;
    font-family: Lato, sans-serif;
}

.section {
    height: 100%;
}

.container {
    padding: 40px 0;
}

.column {
    margin: 0 10%;
}

/* Navigation */
#home {
    background-image: url('../img/background.png');
    background-position: center;
    background-size: cover;
    padding: 0;
}

header {
    padding: 10px 0px;
    margin: 0 20px;
    overflow: auto;
    font-family: Quattrocento;
    border-bottom: 1px solid white;
}

    header h1 {
        font-family: Quattrocento;
    }

    .logo_container {
        overflow: auto;
        float: left;
        padding-top: 3px;
        color: white;
    }

    .logo_container a {
        overflow: auto;
    }

    #logo {
        display: block;
        float: left;
        padding: 1px;
    }

    #logo h1 {
        display: inline-block;
    }



    nav {
        overflow: auto;
        float: right;
    }

    nav ul {
        padding: 0;
        margin: 0;
    }

    nav li {
        display: inline-block;
        margin: 10px 0;
    }

    nav a {
        width: 100px;
        padding: 5px 20px;
        margin: 5px 10px;
        cursor: pointer;
        transition: 0.5s;
    }

    nav a:hover {
        background-color: rgba(255, 255, 255, .5);
        border-radius: 50px;
        color: black;
        transition: 0.5s;
    }

#greeting {
    /*display: inline-block;*/
    position: absolute;
    font-weight: lighter;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
}
    #logo_img {
        display: inline-block;
        width: 200px;
        margin-bottom: 20px;
    }

    #greeting h1 {
        display: inline-block;
        margin: auto;
    }

    #greeting form {
        padding: 5px;
        margin: 0;
        display: inline-block;
        width: 100%;
    }

input[type=text] {
    display: inline-block;
    padding: 4px 4px;
    width: 30%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ecf0f1;
    background-color: transparent;
    color: #ecf0f1;
    font-size: 1em;
    text-align: center;

    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
    outline-width: 0;
}

/* == STATS == */
#stats {
    background-color: white;
    color: black;
}

    #stats .column {
        color: black;
    }

    #stats .column h2 {
        color: black;
    }

/* == ABOUT == */
#about {
    background-color: rgb(68, 123, 188);
    background: rgb(68, 123, 188), rgb(89, 57, 125); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, rgb(68, 123, 188), rgb(89, 57, 125)); /* For Safari 5.1 to 6.0 */
    background: linear-gradient(to bottom right, rgb(68, 123, 188), rgb(89, 57, 125)); /* Standard syntax */
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

    .infocard {
        font-size: 16px;
        display: inline-block;
        margin-bottom: 8px;
        width: calc(50% - 4px);
        margin-right: 8px;
        vertical-align: top;
        text-align: center;
    }

    @media screen and (min-width: 50em) {
        .infocard {
            width: calc(25% - 8px);
        }

        .infocard:nth-of-type(2n) {
            margin-right: 8px;
        }

        .infocard:nth-of-type(4n) {
            margin-right: 0;
        }
    }

    .infocard:nth-of-type(2n) {
        margin-right: 0;
    }

    .profile {
        display: inline-block;
    }

        .profile img {
            margin: auto;
            padding: 10px;
            border-radius: 50%;
            width: 175px;
            height: 175px;
            display: block;
        }

    .user {
        text-align: left;
    }

    .quote {
        text-align: left;
        margin-top: 10px;
        padding: 0 20px 0 30px;
    }

    .name {
        color: bisque;
        font-family: sans-serif;
        font-size: 1.2em;
        margin-top: 30px;
    }

    ul.contact {
        text-align: left;
        list-style: none;
        margin-left: 50px;
        padding: 0;
    }

    .contact.li {
        padding: 0;
        margin: 0;
    }

        li.ln::before {
            content: "\f08c";
            font-family: FontAwesome;
            position: absolute;
            left: 26;
            padding-top: 2px;
        }

        li.email::before {
            content: "\f003";
            font-family: FontAwesome;
            position: absolute;
            left: 25px;
            padding-top: 2px;
        }

.quote::before {
    content: "\f10d";
    font-family: FontAwesome;
    left: 0;
    position: absolute;
    top: 0;
}

.quote::after {
    content: "\f10e";
    font-family: FontAwesome;
    right: 5px;
    position: absolute;
    bottom: 0;
}

/* == FOOTER == */
footer {
    position:  relative;
    background-color: black;
    height: 200px;
}

    #footer-logo{
        position: absolute;
        left: 50%;
        bottom: 50%;
        transform: translate(-50%, -50%);
    }

    footer ul {
        padding: 0;
        margin: 0;
    }

/* == WORKSPACE == */
#contribute {
    padding-top: 40px;
}

.workspace {
    height: 65%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: 2px solid white;
    margin-bottom: 10px;
}

.story-box {
    padding: 20px;
}

.story-box .title-container {
    width: 100%;
    border-bottom: 1px solid white;
}

    .story-text {
        padding-top: 10px;
        height: 85%;
        overflow: scroll;
    }

.reponse {
    position: relative;
    height: 10%;
}

#contribution {
    float: left;
    height: 60px;
    width: 100%;
    padding: 10px;
    margin-right: 20px;
    color: white;
    text-align: left;
    resize: none;

    background-color: rgba(0, 0, 0, 0.2);
    border-top: none;
    border-right: none;
    border-left: 2px solid darkgrey;
    border-bottom: 2px solid darkgrey;

    font-size: 1.3em;

    transition: 0.4s ease-in-out;
}

#contribution:focus {
    height: 15%;
    outline-width: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-color: white;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;

    transition: 0.4s ease-in-out;
}

#input_col {
    float: left;
    position: relative;
    width: 60%;
    padding: 10px;
}

#submission_col {
    float: right;
    position: relative;
    width: 30%;
}

#contribution_input input[type=text] {
    float: right;
    display: block;
    text-align: right;
    width: 50%;
}

#contribution_input input[type=text]:focus {
    width: 100%;
}

#no {
    filter:blur(3px);
    -webkit-filter: blur(3px);
}

input[type=button] {
    border: none;
    float: right;
    background: white;
}
